// Here you can add other styles
.custom-tablist .nav-link {
    color: gray; 
    font-weight: bold;
  }
  
  .custom-tablist .nav-link.active {
    color: black; 
    font-weight: bold;
  }
  
  .custom-tablist .nav-link.active {
    border-bottom: 5px solid #9D6B6B !important;
  }
  