// Here you can add other styles
.custom-tablist .nav-link {
    color: gray; 
    font-weight: bold;
  }
  
  .custom-tablist .nav-link.active {
    color: black; 
    font-weight: bold;
  }
  
  .custom-tablist .nav-link.active {
    border-bottom: 5px solid #9D6B6B !important;
  }

  .custom-button{
    background-color:#CA6AAF;
    border-radius: 10px;
    width:200px;
    height:60px;
    border:none;
    color:white;
    font-weight: bold;
    transition:1s;
    font-size:25px;
  }