
.custom-tablist .nav-link {
    color: gray; 
    font-weight: bold;
  }
  
  .custom-tablist .nav-link.active {
    color: black; 
    font-weight: bold;
  }
  
  .custom-tablist .nav-link.active {
    border-bottom: 5px solid #9D6B6B !important;
  }

   .custom-tablist {
    background-color:#D9D9D9;
    box-shadow: 0px 1px 5px 3px  rgb(186, 186, 186);
  }

  .customtitlebottom{
    font-Size:1.6rem;
    border-Bottom: 5px solid #78cca9;
  }
  
  .customCard{
    border:none;
    box-shadow:  0px 2px 5px  rgb(186, 186, 186);
    border-radius: 15px;
  }
  .customCard2{
    padding: 0;
  }

  .customCardHeader{
    border-bottom:2px solid rgb(223, 223, 223);
    padding-top:10px;
    padding-left:15px;
  }
  
  .customCardBody{
    padding:30px 60px 30px 60px;
  }

  .customButton{
    background-Color:#78cca9;
    border-radius:10px;
    border:none;
    color:white;
    font-weight:bold;
    font-size:1rem;
    width:8em;
    height:3em;
  }

  .customButton:hover{
    background-color:#6aa089;
    border-radius:10px;
    border:none;
    color:white;
  }