.activityData {
    display: flex;
    flex-direction: row
}

.activityCard {
    border: none;
    box-shadow: 0px 2px 5px rgb(186, 186, 186);
    border-radius: 15px;
    min-height: 400px;
    margin-right: 20px;
    width: 85%;
    margin-bottom: 30px;
   
    
}

.activityCard2 {
    border: none;
    box-shadow: 0px 2px 5px rgb(186, 186, 186);
    border-radius: 15px;
    min-height: 500px;
    margin-bottom: 30px;
}

.activityCardBody {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 30px;
}

.activityCardHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activityCardHeadTitle {
    background-color: #9D6B6B;
    width: auto;
    padding: 5px 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}



.activityNav {
    border: none;
    box-shadow: 0px 2px 5px rgb(186, 186, 186);
    border-radius: 15px;
    max-height: 500px;
    overflow: auto;
    padding: 10px;
    width: 15%;
    display: column;
    margin-bottom: 30px;
    position: sticky;
    top: 100px;

}

.navTitle {
    margin: 0;
    font-weight: bold;
}

.hr {
    margin: 0 0 5px 0;
}

.activityNav h6{
    font-weight: bold;
    font-size: 17px;
    border-left:4px solid #9D6B6B;
   background-color: rgb(224, 224, 224);
}

.navContent {
    margin: 0px 0px 8px 0px;
    padding: 2px 5px;
    font-weight: bold;
    color: #6B6B6B;
}

.navContent:hover {
    color: #ffffff;
    background-color: #9D6B6B;
    cursor: pointer;
}

.navContentChoose {
    color: #ffffff;
    background-color: #9D6B6B;
    cursor: pointer;
}

.activityTable1 {
    text-align: center;
    table-layout: auto;
    min-width:1200px;
}
.activityTableLong {
    text-align: center;
    table-layout: auto;
    min-width:1800px;
}
.activityTableShort {
    text-align: center;
    table-layout: auto;
    min-width:800px;
}
.activityTableHead th {
    background-color: #cecece;
    color: #525151;
}

.activityTableBody tr {
    border-bottom: 1px solid rgb(167, 167, 167);
    font-weight: 800;
    vertical-align: middle;
}

.activityTableBody tr img {
    width: 150px;
}

.activityAddButton {
    margin: 10px 10px 0 0;
    width: 80px;
    background-color: #CA6AAF;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px 5px;
    border-radius: 50px;
    font-size: 18px;
    box-shadow: 0 1px 5px rgb(144, 144, 144);
    margin-bottom:2px;
}

.activityAddButton:hover {
    background-color: #854b74;
    color: white;
}

.iconPen {
    font-size: 20px;
    background-color: rgb(76, 174, 249);
    color: white;
    padding: 8px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 1px 7px rgb(209, 208, 208);
}

.iconTrash {
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 1px 7px rgb(209, 208, 208);
}

.iconCorrect {
    font-size: 20px;
    color: rgb(57, 180, 69);
}

.iconWrong {
    font-size: 20px;
    color: rgb(255, 58, 58);
}

.addinput {
    border-radius: 15px;
    background-color: #ffffff;

}

.addinput:focus {
    background-color: #ffffff;
}


.addlabel {
    color: #625F5F;
    font-weight: bold;
    width: 190px
}

.addmodal {
    margin: 0 30px
}

.activityAccordionDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.3%;
}

.activityAccordion {
    width: 24%;
    margin-bottom: 1.3%;
}

.activityAccordionItem button {
    background-color: #DBBFD5;
    font-weight: bold;
    height: 60px;
    font-size: large;
    
    box-shadow: 0 3px 5px rgb(169, 169, 169);
}

.activityAccordionItem {
    background-color: #f9f9f9;
}

.activityAccordionItem hr {
    margin: 0;
}

.activityAccordionItem h6 {
    font-weight: bold;
    font-size: 18px;
}

.AccordionBodyItem {
    text-align: center;
}

.AccordionBodyItem .departmentList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 40px;
    margin-bottom: 10px;
}

.AccordionBodyItem .departmentItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
}

.activityCard2Head{
    border-bottom:2px solid rgb(223, 223, 223);
    padding-top:10px;
    padding-left:20px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    
  }

  .activityCard2HeadTitle{
    font-Size:1.4rem;
    border-Bottom: 5px solid #CA6AAF;
    
  }

  .activityCard2Head strong{
    padding-top:10px;
  }

  /* 滾動條整體的寬度和高度 */
  .activityNav::-webkit-scrollbar {
    width: 12px;  /* 設定寬度（適用於垂直滾動條） */
    height: 12px; /* 設定高度（適用於水平滾動條） */
  }
  
  /* 滾動條的背景 */
  .activityNav::-webkit-scrollbar-track {
    border-radius: 10px;  /* 圓角 */
  }
  
  /* 滾動條的滑塊 */
  .activityNav::-webkit-scrollbar-thumb {
    background-color: #888; /* 滑塊顏色 */
    border-radius: 10px;    /* 圓角 */
    border: 3px solid #f1f1f1; /* 滑塊的邊框（讓滑塊更小，看起來像浮在軌道上） */
  }
  .activityNav::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 滑鼠懸停時的滑塊顏色 */
  }
  
  .activityCardBody::-webkit-scrollbar {
    width: 12px;  /* 設定寬度（適用於垂直滾動條） */
    height: 12px; /* 設定高度（適用於水平滾動條） */
  }
  
  /* 滾動條的背景 */
  .activityCardBody::-webkit-scrollbar-track {
    border-radius: 10px;  /* 圓角 */
  }
  
  /* 滾動條的滑塊 */
  .activityCardBody::-webkit-scrollbar-thumb {
    background-color: #888; /* 滑塊顏色 */
    border-radius: 10px;    /* 圓角 */
    border: 3px solid #f1f1f1; /* 滑塊的邊框（讓滑塊更小，看起來像浮在軌道上） */
  }
  
  .activityCardBody::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 滑鼠懸停時的滑塊顏色 */
  }

  .addlabel .Note{
    color:rgb(255, 0, 0);
    font-size:13px;
  }
  .addlabel .Note2{
    color:rgb(255, 0, 0);
    font-size:13px;
    text-decoration:underline;
    cursor: pointer;
  }


  .tabsContainer {
    display: flex;
    justify-content: space-between; /* 在兩邊對齊 */
    align-items: center;
    width: 100%; /* 占滿整個tablist的寬度 */
  }
  
  .tabsLeft {
    display: flex;
    gap: 10px; /* 調整tabs之間的距離 */
  }
  
  .buttonRight {
    margin-left: auto; /* 將按鈕推到右側 */
    margin-right:10px;
  }
  .buttonRight button{
    background-color:#9D6B6B;
    color:white;
    font-weight: bold;
    border:none;
    box-shadow: 0 2px 5px rgb(67, 67, 67);
    border-radius: 30px;
    padding:7px 15px;
  }
  
  .buttonRight button:hover{
    background-color:#8c5454;
    transition:0.5s;
  }
  .addmodal img{
    width:100%;
  }