.systemTablist {
    background-color: #D9D9D9;
    box-shadow: 0px 1px 5px 3px rgb(186, 186, 186);
    margin-bottom: 30px;
    height: 50px;
    display: flex;
    align-items: center;
}

.tabsContainer {
    display: flex;
    justify-content: space-between;
    /* 在兩邊對齊 */
    align-items: center;
    width: 100%;
    /* 占滿整個tablist的寬度 */
}

.tabsLeft {
    display: flex;
    gap: 10px;
    /* 調整tabs之間的距離 */
}

.buttonRight {
    margin-left: auto;
    /* 將按鈕推到右側 */
    margin-right: 10px;
}

.buttonRight button {
    background-color: #9D6B6B;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 5px rgb(67, 67, 67);
    border-radius: 30px;
    padding: 7px 15px;
}

.buttonRight button:hover {
    background-color: #8c5454;
    transition: 0.5s;
}

.body {
    background-color: #E9E9E9;
    padding: 20px
}

.tabChoose {
    background-color: #E9E9E9 !important;
    color: #474747 !important;
    font-size: 17px !important;
    font-weight: bold;
    border-top: 5px solid #9D6B6B !important;
    border-bottom: none !important;
}

.tabNoChoose {
    background-color: transparent !important;
    color: #8f8f8f !important;
    font-size: 17px !important;
    font-weight: bold;
}


.titleContainer {
    display: flex;
    justify-content: space-between;
    /* 在兩邊對齊 */
    align-items: center;
    width: 100%;
    /* 占滿整個tablist的寬度 */
    margin-bottom:50px;
}

.leftItem {
    display: flex;
    gap: 50px;
    /* 調整tabs之間的距離 */
    display:flex;
    align-items: center;

}

.rightItem {
    margin-left: auto;
    /* 將按鈕推到右側 */
    margin-right: 10px;
}

.leftItem strong {
    font-size: 1.5rem;
    border-bottom: 5px solid #d882c0;
    
}

.leftItem .input {
    width:200px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    
}

.rightItem button {
    background-color:#CA6AAF;
    color:white;
    font-weight: bold;
    border:none;
    box-shadow: 0 2px 5px rgb(157, 157, 157);
    border-radius: 10px;
    padding:7px 15px;
}

.rightItem button:hover {
    background-color:#945682;
    transition:0.5s
}
